/* STYLES ----------------------------------
1. Global Styles 
2. Typography (headings, paragraphs, lists, buttons)
3. Nav Styles
4. Hero Styles
5. About Us Styles
6. Testimonial Styles
7. Our Space Styles
8. CTA Styles
9. Footer Styles
10.Form Button
11. Form Structure
12. Form Controls
13. Media Query Changes 1200px +
----------------------------------------------
/* =========== 
1. GLOBAL STYLES 
============ */
html {
  font-size: 62.5%;
  width: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  border-radius: 8px;
  text-align: center;
}
.wrapper-width {
  max-width: 87%;
  margin: 0 auto;
  padding: 50px 0;
}
/* =========== 
2. TYPOGRAPHY 
============ */

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
h1 {
  font-size: 4rem;
  color: #f6fafa;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.8rem;
  color: #011a30;
}
h3 {
  font-size: 2rem;
  color: #011a30;
}
p,
blockquote {
  color: #3f3f3f;
  line-height: 1.5;
}
li a {
  color: #3f3f3f;
  text-decoration: none;
  text-transform: uppercase;
}

.button {
  font-size: 1.5rem;
  color: #fff;
  background-color: #f18e15;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
}

/* =========== 
3. NAV STYLES 
============ */
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
header img {
  margin-left: 10px;
  margin-bottom: 10px;
}
nav {
  display: flex;
  flex-direction: column;
}
nav ul {
  flex-direction: column;
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}
.show-items {
  display: flex;
}
nav .toggle {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}
/* =========== 
4. HERO STYLES
============ */
.hero {
  background-color: #bfe5f0;
  background-image: url(images/mountains.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}
/* =========== 
5. ABOUT US STYLES 
============ */
.about {
  background-color: #e3f3f8;
}
.about img {
  margin-bottom: 20px;
}
/* =========== 
6. TESTIMONIAL STYLES 
============ */
.testimonials h2 {
  text-transform: capitalize;
}
blockquote {
  background-color: #e3f3f8;
  margin: 30px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;

  /* == box shadow from  https://getcssscan.com/css-box-shadow-examples #85== */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
span {
  margin-top: 10px;
  display: block;
  font-size: 1.5rem;
  color: #3f3f3f;
  font-weight: 300;
}
/* =========== 
7. OUR SPACE STYLES 
============ */
.our-space {
  background-color: #e3f3f8;
}
.our-space p {
  margin-top: 30px;
}
.our-space ul {
  color: #3f3f3f;
  list-style-position: inside;
}
.our-space ul li {
  padding: 10px 0;
}

/* =========== 
8. CTA STYLES 
============ */
.cta {
  text-align: center;
  padding: 50px;
}

.cta h2 {
  text-transform: uppercase;
}
.cta p {
  padding-bottom: 35px;
}

/* =========== 
9. FOOTER STYLES 
============ */
footer {
  background-color: #e3f3f8;
  color: #3f3f3f;
  margin-bottom: 0;
}
footer h3 {
  margin-bottom: 10px;
}
footer ul {
  list-style-type: none;
}

.info {
  text-align: center;
  padding: 10px;
}
.footer-nav img {
  margin-top: 30px;
}
.footer-nav ul {
  font-size: 1.5rem;
  display: initial;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.copyright {
  background-color: #ffffff;
  font-size: 1rem;
  padding: 20px;
}

/* =========== 
10. FORM BUTTON 
============ */

input[type="reset"] {
  background-color: #ffffff;
  color: #f18e15;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid #f18e15;
  border-radius: 8px;
  cursor: pointer;
}
input[type="reset"]:hover {
  background-color: #f7d1a2;
}

input[type="submit"] {
  background-color: #f18e15;
  color: #ffffff;
  font-size: 1.2rem;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f3b871;
}

/* =========== 
11. FORM STRUCTURE 
============ */
.wrapper-form {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 80%;
  margin: 0 auto 30px;
  padding: 20px;
}
.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* =========== 
12. FORM CONTROLS
============ */

input,
select,
textarea {
  font-size: 1.6rem;
}
input[type="text"],
textarea {
  width: 100%;
  border: 1px solid #011a30;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  border: 1px solid #011a30;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type="tel"] {
  width: 100%;
  border: 1px solid #011a30;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

fieldset {
  margin-bottom: 10px;
}
fieldset,
textarea {
  border: 1px solid #011a30;
  border-radius: 8px;
}

/* 13. Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper-width {
    max-width: 1170px;
    margin: auto;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  nav .toggle {
    display: none;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }

  .about-content {
    display: flex;
    justify-content: space-around;
    margin: 50px;
  }
  .about-content p {
    max-width: 40%;
  }
  .blockquote-wrapper {
    display: flex;
  }
  blockquote {
    flex-basis: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .our-space img {
    width: 500px;
    grid-column: 4 / 7;
    grid-row: 4 / -3;
  }
  .our-space-content {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    background-color: #012f57;
    padding: 70px;
    border-radius: 8px;
    align-self: center;
  }
  .our-space-content p,
  .our-space-content li {
    color: #e3f3f8;
  }
  .copyright {
    text-align: center;
  }
  .footer-info {
    display: flex;
    justify-content: space-around;
  }
}
